@model Anime
@{
    ViewData["Title"] = "Create";
}

<h1 class="mt-4">Create anime</h1>
<hr />
<form method="post" enctype="multipart/form-data">
    <fieldset>
        <div class="col-sm-6">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Type" class="form-label mt-4">Input type</label>
                <input asp-for="Type" class="form-control" placeholder="Input type" id="Type">
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Tittle" class="form-label mt-4">Input anime tittle</label>
                <input asp-for="Tittle" placeholder="Input anime tittle" class="form-control" id="Tittle">
                <span asp-validation-for="Tittle" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TitleJapanese" class="form-label mt-4">Input title japanese</label>
                <input asp-for="TitleJapanese" class="form-control" placeholder="Input tittle japanese" id="TitleJapanese">
                <span asp-validation-for="TitleJapanese" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AnimeStarts" class="form-label mt-4">Input title japanese</label>
                <input asp-for="AnimeStarts" class="form-control" placeholder="Input Anime start day" id="AnimeStarts">
                <span asp-validation-for="AnimeStarts" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AnimeEnds" class="form-label mt-4">Input title japanese</label>
                <input asp-for="AnimeEnds" class="form-control" placeholder="Input Anime end day" id="AnimeEnds">
                <span asp-validation-for="AnimeEnds" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SeriesCount" class="form-label mt-4">Input anime series count</label>
                <input asp-for="SeriesCount" min="0" placeholder="Input anime series count" class="form-control" id="SeriesCount">
                <span asp-validation-for="SeriesCount" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SeriesRealesed" class="form-label mt-4">Input anime series realesed</label>
                <input asp-for="SeriesRealesed" min="0" placeholder="Input anime series realesed" class="form-control" id="SeriesRealesed">
                <span asp-validation-for="SeriesRealesed" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="form-label mt-4">Input description</label>
                <textarea asp-for="Description" placeholder="Input description" class="form-control" id="Description" rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Avatar" class="form-label mt-4">Default file input example</label>
                <input asp-for="Avatar" class="form-control" type="file" id="formFile">
                <span asp-validation-for="Avatar" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Duration" class="form-label mt-4">Input episode duration</label>
                <input asp-for="Duration" class="form-control" placeholder="Input duration" id="Duration">
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Status" class="form-label mt-4">Input status</label>
                <input asp-for="Status" class="form-control" placeholder="Input status" id="Status">
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MangaIdList" class="form-label mt-4">Select related manga</label>
                <select class="form-select" asp-for="MangaIdList" asp-items="ViewBag.MangaList" multiple>
                    @*<option value="">Select anime adaptation</option>*@
                </select>
                <span asp-validation-for="MangaIdList" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AuthorIdList" class="form-label mt-4">Select author</label>
                <select class="form-select" asp-for="AuthorIdList" asp-items="ViewBag.AuthorList" multiple>
                    @*<option value="">Select author</option>*@
                </select>
                <span asp-validation-for="AuthorIdList" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="GenreIdList" class="form-label mt-4">Select genres</label>
                <select class="form-select" asp-for="GenreIdList" asp-items="ViewBag.GenreList" multiple>
                    @*                    <option value="">Select genre</option>
                    *@
                </select>
                <span asp-validation-for="GenreIdList" class="text-danger"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-4">Create</button>
        <a asp-controller="Anime" asp-action="Index" class="btn btn-primary mt-4"> Back</a>
    </fieldset>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }

    @*<div class="form-group">
      <label for="exampleSelect1" class="form-label mt-4">Example select</label>
      <select class="form-select" id="exampleSelect1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleSelect2" class="form-label mt-4">Example multiple select</label>
      <select multiple="" class="form-select" id="exampleSelect2">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>*@




    @*<fieldset class="form-group">
      <legend class="mt-4">Radio buttons</legend>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
        <label class="form-check-label" for="optionsRadios1">
          Option one is this and that—be sure to include why it's great
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
        <label class="form-check-label" for="optionsRadios2">
          Option two can be something else and selecting it will deselect option one
        </label>
      </div>
      <div class="form-check disabled">
        <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled="">
        <label class="form-check-label" for="optionsRadios3">
          Option three is disabled
        </label>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <legend class="mt-4">Checkboxes</legend>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Default checkbox
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked="">
        <label class="form-check-label" for="flexCheckChecked">
          Checked checkbox
        </label>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <legend class="mt-4">Switches</legend>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked="">
        <label class="form-check-label" for="flexSwitchCheckChecked">Checked switch checkbox input</label>
      </div>
    </fieldset>*@
