@model Author
@{
    ViewData["Title"] = "Delete";
}

<h1 class="mt-4">Delete author</h1>


<form method="post" enctype="multipart/form-data" asp-action="DeletePost">
    <input asp-for="Id" hidden/>
    <fieldset>
        <div class="col-sm-6">
            <div class="form-group">
                <label asp-for="FirstName" class="form-label mt-4"> First name</label>
                <input asp-for="FirstName" placeholder=" First name" class="form-control" id="FirstName">
            </div>

            <div class="form-group">
                <label asp-for="LastName" class="form-label mt-4"> Last name</label>
                <input asp-for="LastName" placeholder=" Last name" class="form-control" id="LastName">
            </div>

            <div class="form-group">
                <label asp-for="AdditionalName" class="form-label mt-4"> Additional name</label>
                <input asp-for="AdditionalName" placeholder=" Additional name" class="form-control" id="AdditionalName">
            </div>

            <div class="form-group">
                <label asp-for="DateOfBirth" class="form-label mt-4"> Date of birth</label>
                <input type="datetime-local" asp-for="DateOfBirth" placeholder=" Date of birth" class="form-control" id="DateOfBirth">
            </div>

            <div class="form-group">
                <label asp-for="DateOfDeath" class="form-label mt-4"> Date of death</label>
                <input type="datetime-local" asp-for="DateOfDeath" placeholder=" Date of death" class="form-control" id="DateOfDeath">
            </div>

            <div class="form-group">
                <label asp-for="About" class="form-label mt-4"> About author information</label>
                <textarea asp-for="About" placeholder=" About author information" class="form-control" id="About" rows="3"></textarea>
            </div>

            @*<div class="form-group">
                <label asp-for="Avatar" class="form-label mt-4"> Author's profile photo</label>
                <input asp-for="Avatar" class="form-control" type="file" id="Images">
                <span asp-validation-for="Avatar" class="text-danger"></span>
            </div>*@
            <button type="submit" class="btn btn-danger mt-4">Delete</button>
            <a asp-controller="Author" asp-action="index" class="btn btn-primary mt-4"> Back</a>
        </div>
    </fieldset>
</form>

