@model Author
@{
    ViewData["Title"] = "Edit";
}

<h1 class="mt-4">@Model.FirstName @Model.LastName editing</h1>
<hr />


<form method="post" enctype="multipart/form-data">
    <fieldset>
        <div class="row">
            <div class="col-5">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FirstName" class="form-label mt-4">Edit first name</label>
                    <input asp-for="FirstName" placeholder="Edit first name" class="form-control" id="FirstName">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="LastName" class="form-label mt-4">Edit last name</label>
                    <input asp-for="LastName" placeholder="Edit last name" class="form-control" id="LastName">
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="AdditionalName" class="form-label mt-4">Edit additional name</label>
                    <input asp-for="AdditionalName" placeholder="Edit additional name" class="form-control" id="AdditionalName">
                    <span asp-validation-for="AdditionalName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="DateOfBirth" class="form-label mt-4">Edit date of birth</label>
                    <input type="datetime-local" asp-for="DateOfBirth" placeholder="Edit date of birth" class="form-control" id="DateOfBirth">
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="DateOfDeath" class="form-label mt-4">Edit date of death</label>
                    <input type="datetime-local" asp-for="DateOfDeath" placeholder="Edit date of death" class="form-control" id="DateOfDeath">
                    <span asp-validation-for="DateOfDeath" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="About" class="form-label mt-4">Edit about author information</label>
                    <textarea asp-for="About" placeholder="Edit about author information" class="form-control" id="About" rows="3"></textarea>
                    <span asp-validation-for="About" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="WebsiteUrl" class="form-label mt-4">Edit website url</label>
                    <input asp-for="WebsiteUrl" placeholder="Input website url" class="form-control" id="WebsiteUrl">
                    <span asp-validation-for="WebsiteUrl" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Avatar" class="form-label mt-4">Edit author's profile photo</label>
                    <input asp-for="Avatar" class="form-control" type="file" id="Images">
                    <span asp-validation-for="Avatar" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="MangaIdList" class="form-label mt-4">Select related manga</label>
                    <select class="form-select" asp-for="MangaIdList" asp-items="ViewBag.MangaList" multiple>
                    </select>
                    <span asp-validation-for="MangaIdList" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="AnimeIdList" class="form-label mt-4">Select related anime</label>
                    <select class="form-select" asp-for="AnimeIdList" asp-items="ViewBag.AnimeList" multiple>
                    </select>
                    <span asp-validation-for="AnimeIdList" class="text-danger"></span>
                </div>

                @*<div class="form-group">
                <label asp-for="GenreIdList" class="form-label mt-4">Select genres</label>
                <select class="form-select" asp-for="GenreIdList" asp-items="ViewBag.GenreList" multiple>
                </select>
                <span asp-validation-for="GenreIdList" class="text-danger"></span>
                </div>*@
            </div>

            <div class="col-6">
                <div class="row">
                    <h4 class="card-title"> Current anime poster</h4>
                </div>
                <div class="row mt-4">
                    <div class="col-6">
                        @if (Model.Images == null || Model.Images.Count == 0)
                        {
                            <img src="~/404.png" class="img-thumbnail card-img mt-4" asp-append-version="true" />
                        }
                        else
                        {
                            <img src="data:image/png;base64,@(Convert.ToBase64String(Model.Images.Last().Data))" class="img-thumbnail card-img" asp-append-version="true" />
                        }
                    </div>

                </div>
                <div class="row mt-4">
                    <h4 class="card-title"> Current related manga</h4>
                </div>
                <div class="row mt-4">
                    @if (Model.Manga == null || Model.Manga.Count < 1)
                    {
                        <p class="card-text">No manga</p>
                    }
                    else
                    {
                        @foreach (var anime in Model.Manga)
                        {
                            <div class="col-4">
                                <h6 class="card-title"> @anime.Tittle </h6>
                                @if (anime.Images == null || anime.Images.Count < 1)
                                {
                                    <img src="~/404.png" class="img-thumbnail card-img mt-2" asp-append-version="true" />
                                }
                                else
                                {
                                    <img src="data:image/png;base64,@(Convert.ToBase64String(anime.Images.Last().Data))" class="img-thumbnail card-img mt-2" asp-append-version="true" />
                                }
                            </div>
                        }
                    }
                </div>

                <div class="row mt-4">
                    <h4 class="card-title">Current anime</h4>
                </div>

                <div class="row mt-4">
                    @if (Model.Anime == null || Model.Anime.Count < 1)
                    {
                        <p class="card-text">No anime</p>
                    }
                    else
                    {
                        @foreach (var anime in Model.Anime)
                        {
                            <div class="col-4">
                                <h6 class="card-title"> @anime.Tittle </h6>
                                @if (anime.Images == null || anime.Images.Count < 1)
                                {
                                    <img src="~/404.png" class="img-thumbnail card-img mt-2" asp-append-version="true" />
                                }
                                else
                                {
                                    <img src="data:image/png;base64,@(Convert.ToBase64String(anime.Images.Last().Data))" class="img-thumbnail card-img mt-2" asp-append-version="true" />
                                }
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-4">Update</button>
        <a asp-controller="Author" asp-action="index" class="btn btn-primary mt-4"> Back</a>
    </fieldset>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }